<!-- Container -->
<div id="container">
	<div class="shell">
		<!-- Main -->
		<div id="main">
			<div class="cl">
				&nbsp;
			</div>
			<!-- Content -->
			<div id="content">
				<!-- Box -->
				<div class="box">
					<!-- Box Head -->
					<div class="box-head">
						<h2 class="left">Places</h2>
						<div class="right">
							<label>search</label>
							<input type="text" class="field small-field" />
							<input type="submit" class="button" value="search" />
						</div>
					</div>
					<!-- End Box Head -->
					<!-- Table -->
					<div class="table">
						<table width="100%" border="0" cellspacing="0" cellpadding="0">
							<tr>
								<th>Place Name</th>
								<th>Address</th>
								<th>Category</th>
								<th width="110" class="ac">Content Control</th>
							</tr>
							<% @places.each do |place| %>
							<% if place.owned_by? current_user or admin? %>
							<tr>
								<td><h3><%= place.title %></h3></td>
								<td><%= place.address %></td>
								<td> <% if place.category %>
								<%= place.category.name %>
								<% end	%> </td>
								<td>
								<%= link_to 'Edit', edit_place_path(place), :class =>'ico edit' %>   <%= link_to 'Destroy', place, :class => 'ico del', :confirm => 'Are you sure?', :method => :$delete %> 
								</td>
							</tr>
							<% end %>
							<% end %>
						</table>
						<!-- Pagging -->
						<div class="pagging">
							<div class="left">
								Showing 1-12 of 44
							</div>
							<div class="right">
								<a href="#">Previous</a>
								<a href="#">1</a>
								<a href="#">2</a>
								<a href="#">3</a>
								<a href="#">4</a>
								<a href="#">245</a>
								<span>...</span>
								<a href="#">Next</a>
								<%= link_to 'New Place', new_place_path %>
							</div>
						</div>
						<!-- End Pagging -->
					</div>
					<!-- Table -->
				</div>
				<!-- End Box -->
			</div>
			<!-- End Content -->
			<div class="cl">
				&nbsp;
			</div>
		</div>
		<!-- Main -->
	</div>
</div>
<!-- End Container -->