<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"> 
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" /> 
  <meta id="viewport" name="viewport" content="width=320; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" /> 
  <title>Ngendi</title>
  <meta name="description" content="Yogyakarta City Directory" />
  <%= stylesheet_link_tag("style") %>
  <%= javascript_include_tag "geo",:cache => true %>
  <%= javascript_include_tag "functions",:cache => true %>
  <%= csrf_meta_tag %>
  
</head>

<body onload="initialize()" onunload="GUnload()"> 
<div id="wrapper">

<div id="topbar" class="transparent">
	<div id="title">Ngendi</div>
</div>

<script type="text/javascript"> 
		if(geo_position_js.init()){
			geo_position_js.getCurrentPosition(success_callback,error_callback,{enableHighAccuracy:true});
		}
		else{
			alert("Functionality not available");
		}
 
		function success_callback(p)
		{
			document.getElementById("lat").value=p.coords.latitude.toFixed(17);
			document.getElementById("lng").value=p.coords.longitude.toFixed(17);
		}		
		function error_callback(p)
		{
			alert('error='+p.code);
		}	
</script> 

<div class="searchbox">
<%= form_tag result_path, :method => :get do %>
      <fieldset>
      <%= text_field_tag :search, nil, :placeholder => 'search' %>
      <%= hidden_field_tag :lat %>
      <%= hidden_field_tag :lng %>
      <%= submit_tag "Cari", :name => nil, :id => :submit, :type => :hidden %>
      </fieldset>
<% end %>
</div>

<div id="content">
<%= content_tag :p, notice, :class => 'notice' if notice.present? %>
<%= content_tag :p, alert, :class => 'alert' if alert.present? %>
<%= yield %>
</div>

<div id="footer">
<p>Development of Ngendi.com</p>
</div>
</div>
</body>
</html>
